/* All styles for your Card Components live here */
.bannerImg {
  width: 450px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.contentTitle {
  font-weight: bold;
}